# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
*.env
application-local.properties
application.properties
src/main/resources/application.properties
src/test/resources/application.properties
src/test/resources/application-test.properties

# Logs
*.log
logs/
